/* main (content) */
.content {
  background: url(../images/bg_image.png) no-repeat center;
}
/* main image */
.main_image {
  width: 100%;
  height: 780px;
  margin-bottom: 72px;
  position: relative;
}
.main_image_content_wrap {
  width: 100%;
  height: 780px;
  margin: auto;
  position: relative;
}
.main_image a {
  display: block;
}
.main_image_1 {
  width: 100%;
  height: 780px;
  margin: auto;
  text-indent: -9999px;
  position: relative;
  background: url(../images/main_image_1.png) no-repeat center;
}
.main_image_button {
  width: 1200px;
  position: relative;
  margin: auto;
}
.main_prev {
  width: 58px;
  height: 94px;
  background: url(../images/main_prev.png) no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: -496px;
  left: 10px;
}
.main_next {
  width: 58px;
  height: 94px;
  background: url(../images/main_next.png) no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: -496px;
  right: 10px;
}
/* core range */
.core_range {
  width: 100%;
}
.core_range_title_wrap {
  width: 1200px;
  margin: auto;
}
.core_range h2 {
  width: 838px;
  height: 60px;
  background: url(../images/core_range_title.png) no-repeat;
  text-indent: -9999px;
  margin: 0px auto 24px 10px;
}
.core_range_content_bg {
  width: 100%;
  background: url(../images/core_range_content_bg.png) no-repeat center;
}
.core_range_content_wrap {
  width: 1200px;
  height: 1300px;
  margin: auto;
  margin-bottom: 72px;
  background: #e02a29;
}
.core_range dl dt,
.core_range dl dd {
  display: none;
}
.red_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.red_label_wrap a {
  width: 175px;
  height: 21px;
  background: url(../images/red_label_title.jpg) no-repeat;
  display: block;
  margin: auto;
  text-indent: -9999px;
}
.red_label_wrap dl {
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/red_label.jpg) no-repeat;
}
.black_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.black_label_wrap a {
  width: 215px;
  height: 21px;
  background: url(../images/black_label_title.jpg) no-repeat;
  display: block;
  margin: auto;
  text-indent: -9999px;
}
.black_label_wrap dl {
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/black_label.jpg) no-repeat;
}
.doubleblack_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.doubleblack_label_wrap a {
  width: 358px;
  height: 21px;
  background: url(../images/doubleblack_label_title.jpg) no-repeat;
  display: block;
  margin: auto;
  text-indent: -9999px;
}
.doubleblack_label_wrap dl {
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/doubleblack_label.jpg) no-repeat;
}
.gold_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.gold_label_wrap a {
  width: 200px;
  height: 21px;
  background: url(../images/gold_label_title.jpg) no-repeat;
  display: block;
  margin: auto;
  text-indent: -9999px;
}
.gold_label_wrap dl {
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/gold_label.jpg) no-repeat;
}
.green_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.green_label_wrap a {
  width: 219px;
  height: 21px;
  background: url(../images/green_label_title.jpg) no-repeat;
  display: block;
  margin: auto;
  text-indent: -9999px;
}
.green_label_wrap dl {
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/green_label.jpg) no-repeat;
}
.blue_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.blue_label_wrap a {
  width: 192px;
  height: 21px;
  background: url(../images/blue_label_title.jpg) no-repeat;
  display: block;
  margin: auto;
  text-indent: -9999px;
}
.blue_label_wrap dl {
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/blue_label.jpg) no-repeat;
}
/* whisky cocktail */
.whisky_cocktails {
  margin: auto;
  width: 100%;
}
.whisky_cocktails_title_wrap {
  width: 1200px;
  margin: auto;
}
.whisky_cocktails h2 {
  width: 636px;
  height: 44px;
  margin: 0px 10px 24px auto;
  background: url(../images/whisky_cocktails_title.png) no-repeat;
  text-indent: -9999px;
}
.whisky_cocktails_content_bg {
  width: 100%;
  background: url(../images/whisky_cocktails_content_bg.png) no-repeat center;
  margin-bottom: 72px;
}
.whisky_cocktails_content_wrap {
  width: 1200px;
  height: 1380px;
  padding: 30px 10px;
  margin: auto;
  background: #0f63af;
}
.whisky_cocktails video {
  width: 1180px;
  height: 617px;
  display: block;
  margin: 0px auto 20px;
}
.whisky_cocktails img {
  width: 380px;
  height: 682px;
  float: left;
}
.cocktail_recipe_detail {
  width: 780px;
  height: 682px;
  padding: 66px 35px 0px;
  background: #fcf5df;
  float: right;
  position: relative;
}
.cocktail_recipe_detail dt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 30px;
}
.cocktail_recipe_detail dd {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 32px;
}
.cocktail_recipe_detail a {
  width: 382px;
  height: 59px;
  text-indent: -9999px;
  display: block;
  background: url(../images/cocktail_recipe_more.jpg) no-repeat;
  position: absolute;
  left: 199px;
  bottom: 27px;
}
/* journey */
.journey {
  width: 100%;
  height: 346px;
  background: #43695b;
}
.journey_content_wrap {
  width: 1200px;
  height: 446px;
  padding: 50px 10px;
  margin: auto;
  background: #43695b;
}
.journey h2 {
  width: 481px;
  height: 45px;
  margin-bottom: 75px;
  text-indent: -9999px;
  background: url(../images/journey_title.jpg) no-repeat;
}
.journey p {
  width: 614px;
  height: 81px;
  text-indent: -9999px;
  background: url(../images/journey_detail.jpg) no-repeat;
  float: left;
}
.journey a {
  width: 382px;
  height: 59px;
  margin-top: 11px;
  margin-right: 50px;
  text-indent: -9999px;
  background: url(../images/journey_more.jpg) no-repeat;
  display: block;
  float: right;
}
