/* main (content) */
.content {
  background: url(../images/bg_image.png) no-repeat center;
}

/* main image */
.main_video {
  width: 100%;
  height: 780px;
  margin: 0 auto 72px;
}
.main_video_content_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 780px;
  margin: 0 auto;
}
.main_video_content {
  width: 100%;
  height: 780px;
  text-align: center;
  object-fit: cover;
  display: block;
}

/* core range */
.core_range {
  width: 100%;
}
.core_range_title_wrap {
  width: 1200px;
  margin: auto;
}
.core_range h2 {
  width: 838px;
  height: 60px;
  background: url(../images/core_range_title.png) no-repeat;
  text-indent: -9999px;
  margin: 0px auto 24px 10px;
}
.core_range_content_bg {
  width: 100%;
  background: url(../images/core_range_content_bg.png) no-repeat center;
}
.core_range_content_wrap {
  width: 1200px;
  height: 1300px;
  margin: auto;
  margin-bottom: 72px;
  background: #e02a29;
}
.core_range dt {
  margin-top: 20px;
  margin-bottom: 30px;
}
.core_range dl {
  background: #fcf5df;
  width: calc(380px - 40px);
  height: calc(510px - 40px);
  padding: 20px;
  opacity: 0.8;
  position: relative;
  z-index: 1;
  display: none;
}
.core_range dd {
  line-height: 1.5;
}
.core_range a {
  font-family: Montserrat-SemiBold;
  font-size: 30px;
  display: block;
  width: 380px;
  margin: 0 auto;
  text-align: center;
}
.core_range a:hover {
  color: #fcf5df;
}
.red_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.red_detail_wrap {
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/red_label.jpg) no-repeat;
}
.black_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.black_detail_wrap {
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/black_label.jpg) no-repeat;
}
.doubleblack_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.doubleblack_detail_wrap {
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/doubleblack_label.jpg) no-repeat;
}
.gold_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.gold_detail_wrap{
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/gold_label.jpg) no-repeat;
}
.green_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.green_detail_wrap{
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/green_label.jpg) no-repeat;
}
.blue_label_wrap {
  width: 380px;
  height: 558px;
  margin: 25px 10px;
  float: left;
}
.blue_detail_wrap{
  width: 380px;
  height: 510px;
  margin-bottom: 27px;
  background: url(../images/blue_label.jpg) no-repeat;
}

/* whisky cocktail */
.whisky_cocktails {
  margin: auto;
  width: 100%;
}
.whisky_cocktails_title_wrap {
  width: 1200px;
  margin: auto;
}
.whisky_cocktails h2 {
  width: 636px;
  height: 44px;
  margin: 0px 10px 24px auto;
  background: url(../images/whisky_cocktails_title.png) no-repeat;
  text-indent: -9999px;
}
.whisky_cocktails_content_bg {
  width: 100%;
  background: url(../images/whisky_cocktails_content_bg.png) no-repeat center;
  margin-bottom: 72px;
}
.whisky_cocktails_content_wrap {
  width: 1200px;
  height: 1380px;
  padding: 30px 10px;
  margin: auto;
  background: #0f63af;
}
.whisky_cocktails video {
  width: 1180px;
  height: 617px;
  display: block;
  margin: 0px auto 20px;
}
.whisky_cocktails img {
  width: 380px;
  height: 682px;
  float: left;
}
.cocktail_recipe_detail {
  width: 780px;
  height: 682px;
  padding: 66px 35px 0px;
  background: #fcf5df;
  float: right;
  position: relative;
}
.cocktail_recipe_detail dt {
  font-size: 48px;
  margin-bottom: 100px;
}
.cocktail_recipe_detail dd {
  font-size: 28px;
  line-height: 1.5;
}
.cocktail_recipe_detail a {
  width: 382px;
  height: 59px;
  text-indent: -9999px;
  display: block;
  background: url(../images/cocktail_recipe_more.jpg) no-repeat;
  position: absolute;
  left: 199px;
  bottom: 27px;
}

/* journey */
.journey {
  width: 100%;
  height: 346px;
  background: #43695b;
}
.journey_content_wrap {
  width: 1200px;
  height: 446px;
  padding: 50px 10px;
  margin: auto;
  background: #43695b;
}
.journey h2 {
  width: 481px;
  height: 45px;
  margin-bottom: 75px;
  text-indent: -9999px;
  background: url(../images/journey_title.jpg) no-repeat;
}
.journey p {
  width: 614px;
  height: 81px;
  text-indent: -9999px;
  background: url(../images/journey_detail.jpg) no-repeat;
  float: left;
}
.journey a {
  width: 382px;
  height: 59px;
  margin-top: 11px;
  margin-right: 50px;
  text-indent: -9999px;
  background: url(../images/journey_more.jpg) no-repeat;
  display: block;
  float: right;
}
